body {
    font-family: Arial, sans-serif;
    background-color: #f3f3dc;
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .circle{
    background-color: green;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
  }